<a href="https://colab.research.google.com/github/machiwao/bpi_msme_financial_lifeline/blob/main/BPI_Dataset_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Financial Lifeline: Visualizing MSME Struggles and Pathways to Growth
BPI Data Wave 2024 - Data Visualization Track by Bobby's Armie

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
ADB_FINAL = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/ADB_FINAL_Q42023_Q12024.parquet'
BIZKOCONSO = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/BIZKOCONSO_Q42023_Q12024.parquet'
BPIAPP = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/BPIAPP_Q42023_Q12024_V2.parquet'
CCCONSO = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/CCCONSO_Q42023_Q12024.parquet'
CCTRANSACTIONS = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/CCTRANSACTIONS_Q42023_Q12024.parquet'
CDNA = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/CDNA_Q42023_Q12024.parquet'
DEBITPOS = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/DEBITPOS_Q42023_Q12024.parquet'
IBFT_INCOMING = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/IBFT_INCOMING_Q42023_Q12024.parquet'
IBFT_OUTGOING = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/IBFT_OUTGOING_Q42023_Q12024.parquet'
LOAN = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/LOAN_Q42023_Q12024.parquet'
PRODUCTS = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/PRODUCTS_Q42023_Q12024.parquet'
SEGMENTS = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/SEGMENTS_Q42023_Q12024.parquet'

## Data Loading

In [11]:
adb_df = pd.read_parquet(ADB_FINAL)
bizko_df = pd.read_parquet(BIZKOCONSO)
bpi_df = pd.read_parquet(BPIAPP)
ccconso_df = pd.read_parquet(CCCONSO)
cc_trans_df = pd.read_parquet(CCTRANSACTIONS)
cdna_df = pd.read_parquet(CDNA)
debitpos_df = pd.read_parquet(DEBITPOS)
ibft_incoming_df = pd.read_parquet(IBFT_INCOMING)
ibft_outgoing_df = pd.read_parquet(IBFT_OUTGOING)
loan_df = pd.read_parquet(LOAN)
products_df = pd.read_parquet(PRODUCTS)
segments_df = pd.read_parquet(SEGMENTS)

df = pd.merge

## Data Cleaning and Preprocessing

In [8]:
df[df['CUSTOMER_GROUP'] == 'RETAIL']

,CUSTOMER_ID,CUSTOMER_GROUP,CUSTOMER_SEGMENT,ADB_202310,ADB_202311,ADB_202312,ADB_202401,ADB_202402,ADB_202403
0,1.371880e+08,RETAIL,Tier 6,NaN,NaN,NaN,NaN,NaN,NaN
1,7.363929e+07,RETAIL,Tier 6,NaN,NaN,NaN,NaN,NaN,NaN
2,6.190229e+07,RETAIL,Tier 6,NaN,NaN,NaN,NaN,NaN,NaN
3,6.333086e+07,RETAIL,Tier 6,NaN,NaN,NaN,NaN,NaN,NaN
4,3.761657e+07,RETAIL,Tier 6,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
89995,1.190235e+08,RETAIL,Tier 4,NaN,4377903.85,8345484.44,7046869.13,6510569.08,7902009.75
89996,5.701052e+07,RETAIL,Tier 3,NaN,2198.94,22801.13,32543.24,23948.00,10575.50
89997,1.142923e+07,RETAIL,Tier 3,NaN,1600.19,3000.19,3350.64,7567.50,4810.39
89998,2.092495e+07,RETAIL,Tier 3,NaN,NaN,NaN,NaN,NaN,NaN
89999,4.891223e+07,RETAIL,Tier 4,NaN,NaN,5050185.02,5505291.18,5127538.12,4260167.31

## Exploratory Data Analysis (EDA)