<a href="https://colab.research.google.com/github/machiwao/bpi_msme_financial_lifeline/blob/main/BPI_Dataset_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Financial Lifeline: Visualizing MSME Struggles and Pathways to Growth
BPI Data Wave 2024 - Data Visualization Track by Bobby's Armie

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
ADB_FINAL = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/ADB_FINAL_Q42023_Q12024.parquet'
BIZKOCONSO = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/BIZKOCONSO_Q42023_Q12024.parquet'
BPIAPP = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/BPIAPP_Q42023_Q12024_V2.parquet'
CCCONSO = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/CCCONSO_Q42023_Q12024.parquet'
CCTRANSACTIONS = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/CCTRANSACTIONS_Q42023_Q12024.parquet'
CDNA = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/CDNA_Q42023_Q12024.parquet'
DEBITPOS = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/DEBITPOS_Q42023_Q12024.parquet'
IBFT_INCOMING = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/IBFT_INCOMING_Q42023_Q12024.parquet'
IBFT_OUTGOING = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/IBFT_OUTGOING_Q42023_Q12024.parquet'
LOAN = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/LOAN_Q42023_Q12024.parquet'
PRODUCTS = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/PRODUCTS_Q42023_Q12024.parquet'
SEGMENTS = 'https://github.com/machiwao/bpi_msme_financial_lifeline/raw/refs/heads/main/dataset/SEGMENTS_Q42023_Q12024.parquet'

## Data Loading

In [45]:
adb_df = pd.read_parquet(ADB_FINAL)
bizko_df = pd.read_parquet(BIZKOCONSO)
bpi_df = pd.read_parquet(BPIAPP)
ccconso_df = pd.read_parquet(CCCONSO)
cc_trans_df = pd.read_parquet(CCTRANSACTIONS)
cdna_df = pd.read_parquet(CDNA)
debitpos_df = pd.read_parquet(DEBITPOS)
ibft_incoming_df = pd.read_parquet(IBFT_INCOMING)
ibft_outgoing_df = pd.read_parquet(IBFT_OUTGOING)
loan_df = pd.read_parquet(LOAN)
products_df = pd.read_parquet(PRODUCTS)
segments_df = pd.read_parquet(SEGMENTS)

## Data Cleaning and Preprocessing

## Exploratory Data Analysis (EDA)

In [46]:
'''
1 Channel, Customer_Location, Loan Status, Digital Indicator
2 Loan Behavior, Loan Status, Loan Amount, Customer Location
3 Loan Amount, Loan Type, Auto Loan Inidicator, Principal Loan Amount, Customer
Segment, Transaction Amount
4 Loan Status, Customer Location, Loan Type, SEC
'''

'\n1 Channel, Customer_Location, Loan Status, Digital Indicator\n2 Loan Behavior, Loan Status, Loan Amount, Customer Location\n3 Loan Amount, Loan Type, Auto Loan Inidicator, Principal Loan Amount, Customer\nSegment, Transaction Amount\n4 Loan Status, Customer Location, Loan Type, SEC\n'

## 1. Financial Resilience: MSMEs and Their Loan Behavior During Economic Crises

## 2. Highlighting MSME Financial Struggles in Accessing Loans

Loan Behavior, Loan Status, Loan Amount, Customer Location

In [47]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35718 entries, 0 to 35717
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CUSTOMER_ID            35718 non-null  float64
 1   LOAN_ACCOUNT_ID        35718 non-null  float64
 2   LOAN_STATUS            35718 non-null  object
 3   LOAN_BEHAVIOR          35718 non-null  object
 4   LOAN_TYPE              35718 non-null  object
 5   LOAN_AMOUNT            35718 non-null  float64
 6   PRINCIPAL_LOAN_AMOUNT  35718 non-null  float64
 7   INTEREST_EARNED        35718 non-null  float64
 8   LOAN_START_DATE        35718 non-null  datetime64[ms]
 9   MATURITY_DATE          35718 non-null  datetime64[ms]
dtypes: datetime64[ms](2), float64(5), object(3)
memory usage: 2.7+ MB

In [48]:
cdna_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92204 entries, 0 to 92203
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CUSTOMER_ID                  92204 non-null  float64
 1   GENDER                       92204 non-null  object
 2   AGE                          89725 non-null  float64
 3   MARITAL_STATUS               92204 non-null  object
 4   EDUCATION                    92204 non-null  object
 5   BANK_TENURE                  89928 non-null  float64
 6   CUSTOMER_LOCATION            92204 non-null  object
 7   DIGITAL_INDICATOR            92204 non-null  object
 8   SEC                          92204 non-null  object
 9   HOME_OWNER_INDICATOR         92204 non-null  object
 10  CAR_OWNER_INDICATOR          92204 non-null  object
 11  MONTHLY_INCOME               91309 non-null  float64
 12  INCOME_SOURCE                92204 non-null  object
 13  ENVIRONMENTAL_AFF_INDICATOR  92204 non-null  object
 14  HUMANITARIAN_AFF_INDICATOR   92204 non-null  object
 15  OF_INDICATOR                 92204 non-null  object
 16  RETIREES_INDICATOR           92204 non-null  object
 17  FILCHI_INDICATOR             92204 non-null  object
dtypes: float64(4), object(14)
memory usage: 12.7+ MB

In [49]:
df = loan_df.merge(cdna_df, on='CUSTOMER_ID', how='left')

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35718 entries, 0 to 35717
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CUSTOMER_ID                  35718 non-null  float64
 1   LOAN_ACCOUNT_ID              35718 non-null  float64
 2   LOAN_STATUS                  35718 non-null  object
 3   LOAN_BEHAVIOR                35718 non-null  object
 4   LOAN_TYPE                    35718 non-null  object
 5   LOAN_AMOUNT                  35718 non-null  float64
 6   PRINCIPAL_LOAN_AMOUNT        35718 non-null  float64
 7   INTEREST_EARNED              35718 non-null  float64
 8   LOAN_START_DATE              35718 non-null  datetime64[ms]
 9   MATURITY_DATE                35718 non-null  datetime64[ms]
 10  GENDER                       33728 non-null  object
 11  AGE                          33653 non-null  float64
 12  MARITAL_STATUS               33728 non-null  object
 13  EDUCATION                    33728 non-null  object
 14  BANK_TENURE                  33701 non-null  float64
 15  CUSTOMER_LOCATION            33728 non-null  object
 16  DIGITAL_INDICATOR            33728 non-null  object
 17  SEC                          33728 non-null  object
 18  HOME_OWNER_INDICATOR         33728 non-null  object
 19  CAR_OWNER_INDICATOR          33728 non-null  object
 20  MONTHLY_INCOME               33721 non-null  float64
 21  INCOME_SOURCE                33728 non-null  object
 22  ENVIRONMENTAL_AFF_INDICATOR  33728 non-null  object
 23  HUMANITARIAN_AFF_INDICATOR   33728 non-null  object
 24  OF_INDICATOR                 33728 non-null  object
 25  RETIREES_INDICATOR           33728 non-null  object
 26  FILCHI_INDICATOR             33728 non-null  object
dtypes: datetime64[ms](2), float64(8), object(17)
memory usage: 7.4+ MB

In [51]:
df.isna().sum()

CUSTOMER_ID                       0
LOAN_ACCOUNT_ID                   0
LOAN_STATUS                       0
LOAN_BEHAVIOR                     0
LOAN_TYPE                         0
LOAN_AMOUNT                       0
PRINCIPAL_LOAN_AMOUNT             0
INTEREST_EARNED                   0
LOAN_START_DATE                   0
MATURITY_DATE                     0
GENDER                         1990
AGE                            2065
MARITAL_STATUS                 1990
EDUCATION                      1990
BANK_TENURE                    2017
CUSTOMER_LOCATION              1990
DIGITAL_INDICATOR              1990
SEC                            1990
HOME_OWNER_INDICATOR           1990
CAR_OWNER_INDICATOR            1990
MONTHLY_INCOME                 1997
INCOME_SOURCE                  1990
ENVIRONMENTAL_AFF_INDICATOR    1990
HUMANITARIAN_AFF_INDICATOR     1990
OF_INDICATOR                   1990
RETIREES_INDICATOR             1990
FILCHI_INDICATOR               1990
dtype: int64

In [52]:
df.dropna(inplace=True)

In [53]:
df['CUSTOMER_LOCATION'].value_counts()

CUSTOMER_LOCATION
NATIONAL CAPITAL REGION                   11299
REGION IV-A (CALABARZON)                   4884
REGION III (CENTRAL LUZON)                 3177
NO_DATA                                    2530
REGION VI (WESTERN VISAYAS)                2106
REGION VII (CENTRAL VISAYAS)               2070
REGION XI (DAVAO REGION)                   1342
REGION X (NORTHERN MINDANAO)               1258
REGION I (ILOCOS REGION)                   1025
REGION XII (SOCCSKSARGEN)                   948
REGION V (BICOL REGION)                     702
REGION II (CAGAYAN VALLEY)                  599
CORDILLERA ADMINISTRATIVE REGION (CAR)      547
REGION IX (ZAMBOANGA PENINSULA)             428
REGION VIII (EASTERN VISAYAS)               287
MIMAROPA REGION                             233
REGION XIII (CARAGA)                        218
Name: count, dtype: int64

In [54]:
df.groupby('CUSTOMER_LOCATION')['LOAN_STATUS'].value_counts()

CUSTOMER_LOCATION                       LOAN_STATUS
CORDILLERA ADMINISTRATIVE REGION (CAR)  Active           541
                                        Paid               6
MIMAROPA REGION                         Active           233
NATIONAL CAPITAL REGION                 Active         11114
                                        Paid             185
NO_DATA                                 Active          2381
                                        Paid             149
REGION I (ILOCOS REGION)                Active          1008
                                        Paid              17
REGION II (CAGAYAN VALLEY)              Active           593
                                        Paid               6
REGION III (CENTRAL LUZON)              Active          3170
                                        Paid               7
REGION IV-A (CALABARZON)                Active          4818
                                        Paid              66
REGION IX (ZAMBOANGA PENINSULA)         Active           420
                                        Paid               8
REGION V (BICOL REGION)                 Active           702
REGION VI (WESTERN VISAYAS)             Active          2091
                                        Paid              15
REGION VII (CENTRAL VISAYAS)            Active          2058
                                        Paid              12
REGION VIII (EASTERN VISAYAS)           Active           281
                                        Paid               6
REGION X (NORTHERN MINDANAO)            Active          1234
                                        Paid              24
REGION XI (DAVAO REGION)                Active          1306
                                        Paid              36
REGION XII (SOCCSKSARGEN)               Active           948
REGION XIII (CARAGA)                    Active           218
Name: count, dtype: int64

## 3. Visualizing MSME Growth Through Credit and Loans

In [61]:
loan_df['CUSTOMER_ID'].value_counts()

CUSTOMER_ID
6.816677e+07    102
3.665707e+07     78
1.110548e+08     59
1.021774e+07     47
3.236283e+07     46
               ...
1.341813e+07      1
4.224702e+07      1
1.099150e+08      1
1.034550e+07      1
5.796677e+07      1
Name: count, Length: 5294, dtype: int64

## 4. Channels of Financial Access for MSMEs